body, html {
    height: 99%;
    display: inline-grid;
    background-color: rgb(11, 211, 211);
}


.wholeCalc {
    display: inline-grid;
    align-content: center;
    text-align: end;
    
}

.displayTop {
    display: inline-grid;
    margin: auto;
    width: 399px;
    height: 30px;
    background-color: rgb(208, 208, 208);
    border-top: 50px solid black;
    font-size: 1.75rem;
    border-left: 50px solid black;
    border-right: 50px solid black;
}

.display {
    background-color: #ffffff;
    width: 399px;
    height: 50px;
    display: inline-grid;
    margin: auto;
    align-content: end;
    font-size: 2.5rem;
    border-left: 50px solid black;
    border-right: 50px solid black;
    border-bottom: 25px solid black;
    border-top: 1px solid black;
}

.buttonContainer {
    display: inline-grid;
    grid-template-columns: repeat(4, 1fr);
    margin: auto;
    border-bottom: 50px solid black;
    border-left: 49px solid black;
    border-right: 50px solid black;
}

button {
    border: 1px solid black;
    background-color:#ffffff;
    height: 100px;
    width: 100px;
    font-size: 2rem;
}

.operator {
    background-color: rgb(248, 144, 231);
}

.grayButton {
    background-color: rgb(208, 208, 208);
}

.displayCap:hover {
    background-color: rgb(248, 144, 231);
    border: 3px solid rgb(11, 211, 211);
}

.displayCap:active {
    background-color: white;
    color: rgb(248, 144, 231);
}

.operator:hover {
    background-color:white;
}

.operator:active {
    background-color: rgb(248, 144, 231);
    color: rgb(11, 211, 211);
}

.operator:visited {
    background-color: white;
    color: rgb(11, 211, 211);
}

.grayButton:hover {
    opacity: 0.25;
}

.grayButton:active {
    opacity: 1;
}



